@import 'fonts';
@import 'defaults';
@import 'basic';
@import 'questions';

#video-container {
  position: relative;
  max-width: 640px;
  margin: auto;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}
